{% extends 'base.html' %}

{% block content %}

<div class="card">
  <div class="card-header"><strong>
    	{{ song_record.title }}</strong>
  </div>
  <div class="card-body">

<p class="card-text">
<strong>Producer: </strong>{{ song_record.producer }}</p>
	
<p class="card-text">
<strong>Voicebank Avatar: </strong>{{ song_record.voicebank_avatar }}</p>

<p class="card-text">
<strong>Length: </strong>{{ song_record.length }}</p>

<p class="card-text">
<strong>Year Released: </strong>{{ song_record.year_released }}</p>

<p class="card-text">
<strong>ID: </strong>{{ song_record.id }}</p>
	</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'update_record' song_record.id %}" class="btn btn-secondary">Update Record</a>

<a href="{% url 'delete_record' song_record.id %}" class="btn btn-danger">Delete</a>

{% endblock %}